@tailwind base;
@tailwind components;
@tailwind utilities;

/* In styles/globals.css */

/* Add Google Fonts for IntegralCF and Satoshi */
@import url('https://fonts.googleapis.com/css2?family=IntegralCF:wght@400;700&family=Satoshi:wght@400;700&display=swap');

body {
  font-family: 'Satoshi', sans-serif; /* Default font */
}

.font-IntegralCF {
  font-family: 'IntegralCF', sans-serif;
}

.font-Satoshi {
  font-family: 'Satoshi', sans-serif;
}
